*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.container{
    height: 100%;
    width: 100%;
    display: flex;
   
}
.pic{
    height: 100%;
    width: 50%;
    display: flex;
    
   
}
 .pic img {
    height: 75%;
    width: 70%;
    display: flex;
    margin-left: 50px;
    margin-top: 10px;

   
    
    /* /* padding: 32px; */
    box-shadow: 8px 12px rgb(12, 10, 9);
    background: rgb(2, 0, 0);
    /* display: flex; */
    /* flex-wrap: wrap;
    gap: 24px; */ 

}
.container .pic{
   
}
h1{
    color: rgb(84, 150, 118);
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 50px;
   
}
 .span{
    font-size: 40px;
    color: rgb(27, 19, 81);
}
.content{
    
    width: 60%;
   display: flex;
   align-items: center;
   justify-content: center;
  
}


.container1{
    background-color: rgba(152, 20, 20, 0.901);
    height: 70%;
    width: 80%;
    border: 1px solid rgb(16, 2, 2);
}
.btn{
    color:rgb(31, 127, 106);
    text-decoration: none;
    border: 2px solid rgb(14, 15, 14);
    font-weight: bold;
    padding: 10px 25px ;
    border-radius: 10px;
   
  
}
.btn:hover{
    background-color: rgb(37, 191, 76)
    
}

.container2{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input{
    position: relative;
    bottom: 70px;
    right: 70px;
}
.name{
    height: 40px;
    width: 300px;
    border: 1px dotted black;
    border-radius: 5px;
  
}
.email{
    height: 40px;
    width: 300px;
    border: 1px dotted black;
    border-radius: 5px;
  margin: 20px;
}
.number{
    height: 40px;
    width: 300px;
    border: 1px dotted black;
    border-radius: 5px;
    margin-top: 20px;
}
.spam{
    height: 40px;
    width: 300px;
    border: 1px dotted black;
    border-radius: 5px;
    margin: 20px;
}
.address{
    height: 150px;
    width: 630px;
    border: 1px dotted black;
    border-radius: 10px;
    margin-top: 20px;
}